.user{
    margin-top: 50px;
}
.userIcon{
  color: blue;
}
.userInfoHide{
    opacity: 0;
    display: flex;
}
.userInfoShow{
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
.userDetails{
    color: black;
}
.amountHide{
    opacity: 0;
}
.amountShow{
    opacity: 1;
}