<app-sidebar [mainTemplate]="data" [sideBarTemplate]="sidebarData"></app-sidebar>
<ng-template #sidebarData>

  <a href="/home"  Class="list-group-item list-group-item-action">Home</a>
  <!-- <a href="#" class="list-group-item active list-group-item-action">Home</a> -->
  <a href="/home/wallet" Class="list-group-item list-group-item-action bg-light'">Wallet</a>

  <a href="/home/kycStatus" Class="list-group-item list-group-item-action bg-light'">Kyc Status</a>


  <a href="/home/transactionDetails" Class="list-group-item list-group-item-action bg-light'">TransactionDetails</a>
  <a href=""  Class="list-group-item list-group-item-action bg-light disabled"> Balance : {{balance}}</a>

  <a href=""  Class="list-group-item list-group-item-action bg-light disabled">Ufission Store <br>(coming soon)</a>
 
</ng-template>
<ng-template #data>
 <div class="user col-md-4">
  <b *ngIf="Items">Transaction Details</b>
</div>
<!-- 
 <table *ngIf="Items" class="table table-striped">
  <thead>
      <tr>
          <th>Id</th>
          <th>User</th>
          <th>Amount Debit/Credit</th>
          <th>Status</th>
          <th>Balance</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of Items">
        
          <td>{{item.sno}}</td>
          <td>{{item.customerName}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.status}}</td>
          <td>{{item.balance}}</td>
      </tr>
  </tbody>
</table> -->


<div class="table-responsive-md">

    <table  *ngIf="Items" class="table table-striped">
      <thead>
          <tr>
              <th>Id</th>
              <th>User</th>
              <th>Amount Debit/Credit</th>
              <th>Status</th>
              <th>Balance</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of Items">
            
              <td>{{item.sno}}</td>
              <td>{{item.customerName}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.status}}</td>
              <td>{{item.balance}}</td>
          </tr>
      </tbody>
    </table> 
    <!-- <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef> S.No. </th>
      <td mat-cell *matCellDef="let item"> {{item.sno}} </td>
    </ng-container>

   
    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef> User </th>
      <td mat-cell *matCellDef="let item"> {{item.customerName}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount Debit/Credit </th>
      <td mat-cell *matCellDef="let item"> {{item.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let item"> {{item.status}} </td>
    </ng-container>
    
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef> Balance </th>
      <td mat-cell *matCellDef="let item"> {{item.balance}} </td>
    </ng-container> -->

    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

<div *ngIf="!Items" class="noData">
  No Transactions Found
</div>

</ng-template>
