.user{
    margin-top: 50px;
}
.noData
{
   
	width: 350px;
	height: 100px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    font-weight: bolder;
    font-size: 30px;
}

  table td {
	border: 2px solid black; 
  }
 
  table th {
	border: 2px solid black; 
  }
 