.mat-card{
    height: 600px;
    width: 400px;
    background-color: white;
}
.user{
    margin-top: 50px;
}
.userIcon{
  color: #44318D;
}
.userInfoHide{
    opacity: 0;
    display: flex;
}
.userInfoShow{
    opacity: 1;
    display: flex;
    justify-content: space-between;
}
.userDetails{
    color: black;
}
.amountHide{
    opacity: 0;
}
.amountShow{
    opacity: 1;
}