<mat-card>
  <mat-card-title>Search For User</mat-card-title>
 
      <!-- <button class="btn btn-danger" mat-button (click)="onDismiss()">No</button>
      &nbsp; &nbsp; &nbsp;
      <button class="btn btn-success" mat-raised-button color="primary" (click)="onConfirm()">Yes</button> -->
<form class="form-group col-xl-10" [formGroup] = "userForm" (ngSubmit) = "getUserName()">
  <input type="text" class="form-control"  placeholder="Enter Username to search" [formControlName]="'userName'">
  <button type="submit" class="btn btn-primary">Get User</button>
</form>
<div [ngClass]="[btnStyle]">
<fa-icon class="userIcon" [icon]="faUser" size="7x"></fa-icon>
 <table class="table table-striped">
  <thead>
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>{{userId}}</td>
          <td>{{userName}}</td>
          <td>{{userEmail}}</td>
          <td>{{userGendar}}</td>
      </tr>
  </tbody>
</table>
</div>
<br>
<form [ngClass]="[amountStyle]" class="form-group col-xl-10" [formGroup] = "userAmount" (ngSubmit) = "sendMoney()">
  <input type="text" class="form-control"  placeholder="Enter Amount" [formControlName]="'amount'">
  <button type="submit" class="btn btn-warning">Send Money</button>
</form>

</mat-card>