<app-sidebar [mainTemplate]="data" [sideBarTemplate]="sidebarData"></app-sidebar>

 <ng-template #sidebarData>

  <a href="/home"  Class="list-group-item list-group-item-action">Home</a>
  <!-- <a href="#" class="list-group-item active list-group-item-action">Home</a> -->
  <a href="/home/wallet" Class="list-group-item list-group-item-action bg-light'">Wallet</a>

  <a href="/home/kycStatus" Class="list-group-item list-group-item-action bg-light'">Kyc Status</a>


  <a href="/home/transactionDetails" Class="list-group-item list-group-item-action bg-light'">TransactionDetails</a>
  <a href=""  Class="list-group-item list-group-item-action bg-light disabled"> Balance : {{balance}}</a>

  <a href=""  Class="list-group-item list-group-item-action bg-light disabled">Ufission Store <br>(coming soon)</a>
 
</ng-template>

 <ng-template #data>

  hello
 </ng-template>

