<app-sidebar [sideBarTemplate]="adminSidebarTemplate" [mainTemplate]="adminData"></app-sidebar>

<ng-template #adminSidebarTemplate>
  <a href="/home" Class="list-group-item list-group-item-action bg-light">Home</a>

  <!-- <a href="#" class="list-group-item active list-group-item-action">Home</a> -->
  <a href="/admin/kycRequests" Class="list-group-item list-group-item-action bg-light">KYC Requests</a>

  <a *ngIf="username=='mohan'" href="/admin/withdrawalRequests" Class="list-group-item list-group-item-action bg-light">Withdrawal Requests</a>
</ng-template>

<ng-template #adminData>
    <div class="user col-md-4">
     <b *ngIf="Items">WITHDRAW REQUESTS</b>
     
   </div>
   <div class="table-responsive-md">
    <table *ngIf="Items" class="table table-striped">
     <thead>
         <tr>
             <th>Id</th>
             <th>Username</th>
             <th>Amount</th>
             <th>AccName</th>
             <th>AccNo</th>
             <th>IFSC</th>
             <th>UPI ID</th>
             <th>PhoneNumber</th>
             <th>City</th>
             <th>Status</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let item of Items">
           
             <td>{{item.id}}</td>
             <td>{{item.username}}</td>
             <td>{{item.amount}}</td>
             <td>{{item.name}}</td>
             <td>{{item.accNo}}</td>
             <td>{{item.ifsc}}</td>
             <td>{{item.upiId}}</td>
             <td>{{item.phonenumber}}</td>
             <td>{{item.city}}</td>
            <td><button class="btn btn-success" (click)="removeRow(item,'Paid')" >Paid</button>
         </tr>
     </tbody>
   </table>
  </div>
 
</ng-template>
