
.sign-up{
color: #6b34eb;
}
.login{
    color:#6b34eb; 
}
.navbar{
    // background-color: #2a5c75;
    background-color: #44318D;
}
.navbar a{
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
.account-icon{
    height: 40px;
    width: 50px;
}
.profile{
    margin-right: 50px;
}
