<header>
  
<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <a class="navbar-brand" href="/home"><img class = "logo" src="assets/logo.png" width=120 height=80></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarSupportedContent .navbar-collapse.show">
    <!-- <span class="navbar-toggler-icon"></span> -->
  <fa-icon [icon] = "faBars" style="color:#fff; font-size:28px;"></fa-icon>
  </button>

  <div *ngIf="!isLoggedIn" class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed" sticky-top>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/contact-us">Contact Us</a>
      </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/sign-up">Sign Up</a>
    </li>
</ul>
</div> 

<div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed" sticky-top>
<!-- <ul class="navbar-nav ml-auto">
  <li class="nav-item">
      <a class="nav-link" href="#">Wallet</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Withdraw</a>
  </li>
</ul> -->
<div class="ml-auto profile" ngbDropdown>
<button class="userdetails btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
  <!-- <img class="account-icon" src="https://www.redditstatic.com/avatars/avatar_default_08_D4E815.png"> -->
  <fa-icon [icon]="faUser"></fa-icon>
  {{username}}
</button>
<div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
<button (click)="goToUserProfile()" ngbDropdownItem>Edit Profile</button>
<button (click)="goToChangePassword()" ngbDropdownItem>Change Password</button>
<button  (click)="logout()" ngbDropdownItem>Logout</button>
</div> 
</div>
</div> 


    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>  -->
</nav>
</header>

<router-outlet></router-outlet>