


 <app-sidebar *ngIf="!adminRole" [mainTemplate]="data" [sideBarTemplate]="sidebarTemplate"></app-sidebar>

 <app-sidebar *ngIf="adminRole" [mainTemplate]="data" [sideBarTemplate]="adminSidebarTemplate" [adminRole]="adminRole"></app-sidebar>

 <ng-template #adminSidebarTemplate>
   <a href="/home" Class="list-group-item list-group-item-action bg-light">Home</a>
 
   <!-- <a href="#" class="list-group-item active list-group-item-action">Home</a> -->
   <a href="/admin/kycRequests" Class="list-group-item list-group-item-action bg-light">KYC Requests</a>
 
   <a *ngIf="username=='mohan'" href="/admin/withdrawalRequests" Class="list-group-item list-group-item-action bg-light">Withdrawal Requests</a>
 </ng-template>
 <ng-template #sidebarTemplate>
 
 
   <a href="/home"  Class="list-group-item list-group-item-action">Home</a>
   <!-- <a href="#" class="list-group-item active list-group-item-action">Home</a> -->
   <a href="/home/wallet" Class="list-group-item list-group-item-action bg-light'">Wallet</a>
 
   
 
   <a href="/home/transactionDetails" Class="list-group-item list-group-item-action bg-light'">TransactionDetails</a>
   <a href="/home/kycStatus" Class="list-group-item list-group-item-action bg-light'">Kyc Status</a>
 
 
   <a href=""  Class="list-group-item list-group-item-action bg-light disabled">Ufission Store <br>(coming soon)</a>
 </ng-template>
  <ng-template #data>
    <div class="editProfileSection">
    <div class="user col-md-4">
      <b>Change Password</b>
    </div>
    <form [formGroup]="passChangeForm" (ngSubmit)="passChange()">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Current Password</span>
      </div>
      <input type="password" class="form-control" [formControlName]="'currentPass'" aria-label="CurrentPass" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1" >New Password</span>
      </div>
      <input type="password" class="form-control"  [formControlName]="'newPass'" aria-label="NewPass" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1" >Confirm New Password</span>
      </div>
      <input type="password" class="form-control"  [formControlName]="'confirmPass'" aria-label="ConfirmPass" aria-describedby="basic-addon1">
    </div>
    <button class="btn btn-danger" type="submit">SAVE CHANGES</button>
  </form>
  </div>
 </ng-template> 