// .body{
//    position: relative; 
// }
// .centerAdd{
//     position: fixed;
// top: 50%;
// left: 40%;

// }
// .centerSend{
//     position: fixed;
// top: 50%;
// left: 50%;

// }

// .middle{
//     transition: .5s ease;
//     top: 50%;
// left: 55%;
// margin-top: -50px;
// margin-left: -100px;
//     opacity: 0;
//     position: absolute;
// }
// .container:hover .middle{
//     opacity: 1;
// }

.container{
    height: 800px;
    display: flex;
    align-items: center;
  justify-content: space-between;

}
.walletBtns{
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  // .container{
  //   margin-left: 30px;
  // }
  .withdraw{
    margin-top: 50px;
  margin-right: 80px;
  }
  .sendMoney{
    margin-top: 60px;
margin-right: 180px;
margin-left: 60px;
  }


  }


