<!-- <div class="container">
<div class="balance">
  CURRENT BALANCE : {{balance}}
</div>
<div class="centerAdd">
<button type="button" class="btn btn-primary">ADD MONEY</button>
</div>
<div class="centerSend">
<button type="button" class="btn btn-warning">SEND MONEY</button>
</div>
<div class="middle">
<form>

  <input type="text" placeholder="enter amount"/>
  <button type="submit" class="btn btn-danger">ADD</button>
</form>
</div>
</div>

 -->
 <app-sidebar [mainTemplate]="data" [sideBarTemplate]="sidebarData"></app-sidebar>

 <ng-template #sidebarData>

  <a href="/home"  Class="list-group-item list-group-item-action">Home</a>
  <!-- <a href="#" class="list-group-item active list-group-item-action">Home</a> -->
  <a href="/home/wallet" Class="list-group-item list-group-item-action bg-light'">Wallet</a>

  <a href="/home/kycStatus" Class="list-group-item list-group-item-action bg-light'">Kyc Status</a>


  <a href="/home/transactionDetails" Class="list-group-item list-group-item-action bg-light'">TransactionDetails</a>
  <a href=""  Class="list-group-item list-group-item-action bg-light disabled"> Balance : {{balance}}</a>

  <a href=""  Class="list-group-item list-group-item-action bg-light disabled">Ufission Store <br>(coming soon)</a>
 
</ng-template>

 <ng-template #data>

   <div class="container">

    <div class="input-group row walletBtns">
 
      <form [formGroup] = "amountToAdd" class="addMoney">
        <input class="form-control" type="number" [formControlName]="'amount'" name="parameterValue" placeholder="Enter the amount..." required/>
          <span class="input-group-btn"><button class="btn btn-default btn-success" name="add" (click)="addMoney()">Add Money To Wallet</button></span>
         </form> 
         <!-- <span class="input-group-btn sendMoney"><button class="btn btn-default btn-warning" onclick="window.open('http://localhost:4200/home/sendMoney','_blank',
          `toolbar=yes,
           location=0,
           status=no,
           menubar=no,
           scrollbars=no,
           resizable=yes,
           top=300,
           left=700,
           width=550px,
           height=550px`);
        return false;">Send Money</button></span> -->

        <span class="input-group-btn sendMoney"><button class="btn btn-default btn-warning" (click)="sendMoney()">Send Money</button></span>
    
         <!-- <span class="input-group-btn withdraw"><button [disabled]="! transactionCheck" class="btn btn-default btn-primary" name="withdraw" (click)="withdrawMoney()">Withdraw Amount</button></span> -->
         <span class="input-group-btn withdraw"><button  class="btn btn-default btn-primary" name="withdraw" (click)="withdrawMoney()">Withdraw Amount</button></span>

  </div>

  
    <!-- <div class="centerAdd">
      <button type="button" class="btn btn-primary">ADD MONEY</button>
      </div> -->
      

   </div>
 </ng-template>


