.banner{
    margin-top: 30px;
    position: relative;
}

// .bannerImg{
//     height: 200px;
//     width: 100%;
   
// }
.maintxt{
    text-align: center;
    color: #44318D;
}
.sidetxt{
    text-align: center;
    color : #44318D;
}
.cardContainetr{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-card{
      height: 200px;
      width: 400px;
  }
  .header{
      margin-left: 50px;
  }
  #mailIcon{
      color: #44318D;
  }
  #phoneIcon{
    color: #44318D;
}
.brandIcon{
   color: #44318D;
   display: flex;
   justify-content: space-evenly;

}
a{
    color: #44318D;
}