<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<div class="banner">
	<!-- <img class="bannerImg" src="assets/background.JPG" alt="First slide"> -->
	
	<h1 class="maintxt">We are here to solve your problems</h1>
	<h4 class="sidetxt">feel free to contact us</h4>
	<hr>

</div>
<div class="cardContainetr">

	<mat-card class="main-card">
	  <mat-card-header class="header">
		<h1>Contact Us</h1>
		
	  </mat-card-header>
	  <mat-card-content>
		<h6> <fa-icon id="mailIcon" [icon]="faMailBulk"></fa-icon>&nbsp;&nbsp;Email : Ufission7@gmail.com</h6>
		<br>
		<h6> <fa-icon id="phoneIcon" [icon]="faPhone"></fa-icon>&nbsp;&nbsp;Phone No : 000000000000</h6>
		<br>
<div class="brandIcon">
	<a href=""><fa-icon  [icon]="faFacebook" size="2x" ></fa-icon></a>

	<a href=""><fa-icon  [icon]="faTwitter" size="2x"></fa-icon></a>
	<a href=""><fa-icon  [icon]="faInstagram" size="2x"></fa-icon></a>
	
</div>
	  </mat-card-content>
	  </mat-card>
	  </div>