		<div class="container-login100 row">
			<div class="tw"></div>
				<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Sign In
				</span>
<form [formGroup] = "loginForm" (ngSubmit)="login()" ngNativeValidate>
				<div class="wrap-input100 m-b-20">
					<input class="input100" type="text" [formControlName] = "'username'" placeholder="username" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input class="input100" type="password" [formControlName] = "'password'" placeholder="password" required>
					<span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Sign In
					</button>
				</div>
      </form>

				
<!-- 
				<div class="text-center p-t-57 p-b-20">
					<span class="txt1">
						Or login with
					</span>
				</div> -->
<!-- 
				<div class="flex-c p-b-112">
					<a href="#" class="login100-social-item">
						<i class="fa fa-facebook-f"></i>
					</a>

					<a href="#" class="login100-social-item">
						<img src="images/icons/icon-google.png" alt="GOOGLE">
					</a>
				</div> -->

				<div class="text-center">
					<a (click)="signUp()" class="txt2 hov1">
						Sign Up
					</a>
				</div>
			</form>

			
		</div>
	</div>

	<!-- <div class="content">
		<mat-card class="mat-elevation-z4">
		  <mat-card-header>
			<mat-card-title>Himalayan Peaks</mat-card-title>
		  </mat-card-header>
		  <img mat-card-image src="./../assets/images/mountains.jpg">
		  <mat-card-content>
			<p>
			  The Himalayas is a mountain range in Asia.
			</p>
		  </mat-card-content>
		  <mat-card-actions>
			<button mat-button>LIKE</button>
			<button mat-button>SHARE</button>
		  </mat-card-actions>
		</mat-card>
		<mat-card class="mat-elevation-z4">
			<mat-card-header>
			  <mat-card-title>Himalayan Peaks</mat-card-title>
			</mat-card-header>
			<mat-card-content>
			  <p>
				The Himalayas is a mountain range in Asia.
			  </p>
			</mat-card-content>
			<mat-card-actions>
			  <button mat-button>LIKE</button>
			  <button mat-button>SHARE</button>
			</mat-card-actions>
		  </mat-card>
	  </div> -->

	
	