
<div class="user col-md-4">
  <b>Withdraw Amount:</b>
</div>

<form [formGroup] = "withdrawForm" (ngSubmit)="Withdraw()" ngNativeValidate>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" [formControlName]="'name'" required>
    </div>
    <div class="form-group col-md-6">
      <label for="accno">AccountNumber</label>
      <input type="text" class="form-control" id="accno" placeholder="Acc.No" [formControlName]="'accNo'" required>
    
    </div>
    <div class="form-group col-md-3">
      <label for="amnt">Amount</label>
      <input type="text" class="form-control" id="amnt" [(ngModel)]="amount" [formControlName]="'amount'" required>
    
      <mat-hint>{{getAmountHint()}}</mat-hint>
     
    </div>
  </div>

  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="ifsc">IFSC CODE</label>
      <input type="text" class="form-control" id="ifsc" placeholder="IFSC CODE" [formControlName]="'ifsc'" required>
    </div>
    <div class="form-group col-md-6">
      <label for="upi">Upi Id</label>
      <input type="text" class="form-control" id="upi" placeholder="Upi Id" [formControlName]="'upiId'" required>
    </div>
  </div>
    <div class="form-row">
       <div class="form-group col-md-6">
      <label for="Phno">Phone Number</label>
      <input type="number" class="form-control" id="Phno" placeholder="PhoneNumber" [formControlName]="'phonenumber'" required>
       </div>
    <div class="form-group col-md-6">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" placeholder="City" [formControlName]="'city'" required>
    </div>
  </div>
  <!-- <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
       
      </label>
    </div>
  </div> -->
  <button type="submit" class="btn btn-primary">Submit Withdraw Request</button>
</form>