
<app-sidebar  [mainTemplate]="data" [sideBarTemplate]="sidebarTemplate"></app-sidebar>

<ng-template #sidebarTemplate>

  <a href="/home"  Class="list-group-item list-group-item-action">Home</a>
  <!-- <a href="#" class="list-group-item active list-group-item-action">Home</a> -->
  <a href="/home/wallet" Class="list-group-item list-group-item-action bg-light'">Wallet</a>

  

  <a href="/home/transactionDetails" Class="list-group-item list-group-item-action bg-light'">TransactionDetails</a>
  <a href="/home/kycStatus" Class="list-group-item list-group-item-action bg-light'">Kyc Status</a>

  <a href=""  Class="list-group-item list-group-item-action bg-light disabled"> Balance : {{balance}}</a>

  <a href=""  Class="list-group-item list-group-item-action bg-light disabled">Ufission Store <br>(coming soon)</a>
</ng-template>

<ng-template #data>

<div class="user col-md-4">
  
</div>
  <div class="row">
    
    <div *ngIf="kycStatus=='Approval Pending'" class="col-12 p-3 ml-3 bg-warning text-white"><b>Status : </b> KYC VERIFICATION PENDING</div>
   

    <div *ngIf="kycStatus=='Approved'" class="col-12 p-3 ml-3 bg-success text-white"><b>Status : </b> KYC VERIFICATION SUCCESSFULL</div>
   
  <div *ngIf="kycStatus=='Rejected'" class="col-12 p-3 bg-danger text-white"><b>Status : </b> KYC VERIFICATION REJECTED</div>
   
</div>

    
</ng-template>