<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
	<!-- <div class="logoandmoto">
	<img src= "assets/motoandlogo.PNG"/>
	</div> -->
	<div class="wrapper wrapper--w780">  
		<div class="card card-3">
			<div class="card-heading"></div>
			<div class="card-body">
				<h2 class="title">Registration Info</h2>
				<form [formGroup] = "signupForm" (ngSubmit)="signup()" ngNativeValidate>
						<mat-form-field appearance="standard">
						<mat-label class="input--style-3">Name as per Aadhar</mat-label>
						<input class="input--style-3" class="inp"  matInput type="text" [formControlName] = "'name'"  required>
					</mat-form-field>
					
					<div class="input-group">
						<mat-form-field appearance="standard">
							<mat-label class="input--style-3">Username</mat-label>
							<input class="input--style-3"  matInput type="text"  [formControlName] = "'username'"  required>
						</mat-form-field>
					</div>
					
					<!-- <div class="input-group">
					  <input class="input--style-3" type="text" placeholder="Birthday" [formControlName]="'birthday'" ngbDatepicker #d="ngbDatepicker" required>
						<button class="btn input-icon" (click) = "d.toggle()" type="button">📅</button>
						 <input class="input--style-3" type="text" ngbDatepicker placeholder="Birthday" name=birthday> 
					</div> -->

					<div class="input-group">
					<mat-form-field appearance="fill">
						<mat-label class="input--style-3">Birthdate</mat-label>
					  
						<input class="input--style-3" [formControlName]="'birthday'" matInput [matDatepicker]="picker" required>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
				
					  </mat-form-field>
					</div>
					  
				
					<div class="radiobtn">
						<label class="radio-inline input--style-3">
							<input type="radio" value="male" [formControlName]="'gender'"  name="gender">Male
						</label>
						<label class="radio-inline input--style-3">
							<input type="radio" value="female" [formControlName]="'gender'" name="gender">Female
						</label>
						<label class="radio-inline input--style-3">
							<input type="radio" value="other" [formControlName]="'gender'" name="gender">Other
						</label>
					</div>
					<div class="input-group">
						<mat-form-field appearance="standard">
							<mat-label class="input--style-3">Email</mat-label>
							<input class="input--style-3" matInput type="email" [formControlName]="'email'" required>
						</mat-form-field>
						</div>
				
						<div class="input-group">
						<mat-form-field appearance="standard">
							<mat-label class="input--style-3">PhoneNum</mat-label>
							<input class="input--style-3" matInput #phno maxlength="10"  [formControlName]="'phoneNum'" required>
							<mat-hint class="matHint" align="start">10 numbers required : {{phno.value?.length || 0}}/10</mat-hint>
						</mat-form-field>
						</div>
						
				
						<div class="input-group">
						<mat-form-field appearance="standard">
							<mat-label class="input--style-3">Aadhar Number</mat-label>
							<input class="input--style-3" matInput #aadharnum maxlength="12" [formControlName]="'aadharNum'" disabled required>
							<mat-hint class="matHint" align="start">12 numbers required : {{aadharnum.value?.length || 0}}/12</mat-hint>
						</mat-form-field>
					</div>
						
					
					
					<div class="input-group">
						<mat-form-field appearance="standard">
							<mat-label class="input--style-3">Referal Link</mat-label>
							<input class="input--style-3" matInput type="text" [formControlName]="'referal'" value="hello">
						</mat-form-field>
						</div>
					
						<div class="input-group">
						<mat-form-field appearance="standard">
							<mat-label class="input--style-3">Password</mat-label>
							<input   class="input--style-3" matInput [formControlName]="'password'" [type]="passHide ? 'password' : 'text'" required>
							<button mat-icon-button matSuffix (click)="passHide = !passHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passHide">
								<mat-icon>{{passHide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</button>
						</mat-form-field>
						</div>
					
						<div class="input-group">
						<mat-form-field appearance="standard">
							<mat-label class="input--style-3">Confirm Password</mat-label>
							<input class="input--style-3" matInput type="password" [type]="confirmpassHide ? 'password' : 'text'" [formControlName]="'confirmPassword'" required>
							<button mat-icon-button matSuffix (click)="confirmpassHide = confirmpassHide" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="confirmpassHide">
								<mat-icon>{{confirmpassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</button>
						</mat-form-field>
						</div>
					
					
					
					<div class="form-group">
						<label for="file" class="input--style-3">Upload Aadhar image</label>
						<input type="file"
							   id="file"
							   (change)="handleFileInput($event.target.files)" required>
					</div>

					
					<div class="p-t-10">
						<button class="btn btn--pill btn--green" type="submit">Submit</button>
					</div>

					
				</form>
			</div>
		</div>
	</div>

</div>


