<app-sidebar [sideBarTemplate]="adminSidebarTemplate" [mainTemplate]="adminData"></app-sidebar>

<ng-template #adminSidebarTemplate>
  <a href="/home" Class="list-group-item list-group-item-action bg-light">Home</a>

  <!-- <a href="#" class="list-group-item active list-group-item-action">Home</a> -->
  <a href="/admin/kycRequests" Class="list-group-item list-group-item-action bg-light">KYC Requests</a>

  <a  *ngIf="username=='mohan'" href="/admin/withdrawalRequests" Class="list-group-item list-group-item-action bg-light">Withdrawal Requests</a>
</ng-template>

<ng-template #adminData>
    <div class="user col-md-4">
     <b *ngIf="Items">KYC REQUESTS</b>
     
   </div>
   
   <div class="table-responsive-md">
    <table *ngIf="Items" class="table table-striped">
     <thead>
         <tr>
             <th>Id</th>
             <th>Username</th>
             <th>AadharNumber</th>
             <th>PhoneNumber</th>
             <th>AadharImage</th>
             <th>Approve/Reject</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let item of Items">
           
             <td>{{item.id}}</td>
             <td>{{item.username}}</td>
             <td>{{item.aadharNumber}}</td>
             <td>{{item.phoneNumber}}</td>
            <td><button class="btn btn-warning" (click)="downloadAadhar(item)">Download</button></td>
            <td><button class="btn btn-success" (click)="removeRow(item,'Approved')" >Approve</button>&nbsp;&nbsp;<button (click)="removeRow(item,'Rejected')" class="btn btn-danger" >Reject</button></td>
         </tr>
     </tbody>
   </table>
     <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>
  

 
</ng-template>
