.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    }
  .mm{
    margin-top: 50px;
  }
  
  
  /**************SIDEBAR*********/
  
  #wrapper {
    overflow-x: hidden;
  
  }


  
  
  #sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  margin-top: 2rem;
  margin-right: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .list-group {
  width: 15rem;
  }
  
  #page-content-wrapper {
  min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  }
  
  @media (max-width: 768px) {
  // #sidebar-wrapper {
  //   margin-left: 0;
  // }
  
  #page-content-wrapper {
   min-width: 65vw;
  }
  .container-fluid img{
    width: 2000px;
   
  }


  // #wrapper.toggled #sidebar-wrapper {
  //   margin-left: -1rem;
  // }
}

.container{
    height: 800px;
    display: flex;
    align-items: center;
  justify-content: space-evenly;
 
}
.balance{
    font-weight: bold;
    position: fixed;
    top: 40%;
    left: 50%;
}

.navbutton{
  margin-top: 35px;
  
}



