<div class="wholePage">

<button class="navbar-toggler navbutton" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarSupportedContent .navbar-collapse.show">
  
<fa-icon [icon] = "faBars" style="color:rgb(15, 0, 98); font-size:28px;"></fa-icon>
</button>
<h6 style="text-align: center;">Note : withdraw option is not available until you make 10 transactions</h6>
<div class="d-flex" id="wrapper" >

  <div class="bg-light border-right" id="sidebar-wrapper  navbarSupportedContent" class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <div class="list-group list-group-flush">

      <ng-container *ngTemplateOutlet="sideBarTemplate">

      </ng-container>
    </div>
  </div>

  <div id="page-content-wrapper">

    <div class="container-fluid">
     
      <ng-container *ngTemplateOutlet="mainTemplate">

      </ng-container>

   </div>
  </div>

</div>
</div>
<!-- 
<button class="navbar-toggler navbutton" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed;isOpened = !isOpened" data-target="#navbarSupportedContent .navbar-collapse.show">
  
  <fa-icon [icon] = "faBars" style="color:rgb(15, 0, 98); font-size:28px;"></fa-icon>
  </button>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="isOpened" navbarSupportedContent class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <mat-nav-list class="list-group list-group-flush">
      <mat-list-item>hello</mat-list-item>
      <mat-list-item>hello</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container> -->