<mat-card fxLayoutGap>

  <b mat-dialog-title>{{data.title}}</b>

  <p display-2>{{data.message}}</p>


  <div mat-dialog-actions>
      <button class="btn btn-danger" mat-button (click)="onDismiss()">No</button>
      &nbsp; &nbsp; &nbsp;
      <button class="btn btn-success" mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
  </div>
</mat-card>