// .carousel-img
// {
//   height: 1000px;
//   width: 1050px;
// }
// .ma{
//   overflow: hidden;
//   white-space: nowrap;
// }
// .slideimg{
//   height: 500px;
//   width: 1000px;
// }
// .carousel-control-prev-icon
// {
//  background-color: #2a5c75;
// }
// .carousel-control-next-icon
// {
//  background-color: #2a5c75;
// }
.slideimg{
  height: 920px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

.subbtn{
  position: fixed;
  bottom: 100px;
  right: 200px;
}
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  }



/**************SIDEBAR*********/

#wrapper {
  overflow-x: hidden;
 
}


#sidebar-wrapper {
min-height: 100vh;
margin-left: -15rem;
margin-top: 2rem;
margin-right: -1rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
}

#sidebar-wrapper .list-group {
width: 15rem;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}

@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.subbtn{
  bottom: 55px;
  right: 180px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}
}
@media (max-width: 768px) {
  .slideimg{
    width: 100%;
    height: auto;
  }
  }
.user{
  margin-top: 50px;
}
