<!-- <div class="pos-f-t"> -->
 
    <!-- <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav> -->
    <!-- <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
            </ul>
       
    </div>
    </nav> -->
    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 slideimg" src="http://www.simpleimageresizer.com/_uploads/photos/da54b800/subwall1_1820x910.jpeg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 slideimg" src="http://www.simpleimageresizer.com/_uploads/photos/da54b800/subwall2_1820x910.jpeg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 slideimg" src="http://www.simpleimageresizer.com/_uploads/photos/da54b800/subwall3_1_1820x910.jpeg" alt="First slide" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 slideimg" src="http://www.simpleimageresizer.com/_uploads/photos/da54b800/subwall1_1820x910.jpeg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 slideimg" src="http://www.simpleimageresizer.com/_uploads/photos/da54b800/subwall2_1820x910.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 slideimg" src="http://www.simpleimageresizer.com/_uploads/photos/da54b800/subwall3_1_1820x910.jpeg" alt="First slide" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 slideimg" src="http://www.simpleimageresizer.com/_uploads/photos/da54b800/subwall1_1820x910.jpeg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 slideimg" src="http://www.simpleimageresizer.com/_uploads/photos/da54b800/subwall2_1820x910.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 slideimg" src="http://www.simpleimageresizer.com/_uploads/photos/da54b800/subwall3_1_1820x910.jpeg" alt="First slide" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <button type="button" class="btn btn-danger btn-lg subbtn">SUBSCRIBE</button>

 -->

<app-sidebar *ngIf="!adminRole" [mainTemplate]="data" [sideBarTemplate]="sidebarTemplate"></app-sidebar>
<!-- <app-sidebar *ngIf="!adminRole" [mainTemplate]="data"></app-sidebar> -->

<app-sidebar *ngIf="adminRole" [mainTemplate]="adminData" [sideBarTemplate]="adminSidebarTemplate" [adminRole]="adminRole"></app-sidebar>
<ng-template #adminData>
  <div class="user col-md-4">
    <b *ngIf="Items">Transaction Details</b>
  </div>
  <h1>hello admin</h1>
  
</ng-template>
<ng-template #adminSidebarTemplate>
  <a href="/home" Class="list-group-item list-group-item-action bg-light">Home</a>

  <!-- <a href="#" class="list-group-item active list-group-item-action">Home</a> -->
  <a href="/admin/kycRequests" Class="list-group-item list-group-item-action bg-light">KYC Requests</a>

  <a *ngIf="username=='mohan'" href="/admin/withdrawalRequests" Class="list-group-item list-group-item-action bg-light">Withdrawal Requests</a>
</ng-template>
<ng-template #sidebarTemplate>


  <a href="/home"  Class="list-group-item list-group-item-action">Home</a>
  <!-- <a href="#" class="list-group-item active list-group-item-action">Home</a> -->
  <a href="/home/wallet" Class="list-group-item list-group-item-action bg-light'">Wallet</a>

  

  <a href="/home/transactionDetails" Class="list-group-item list-group-item-action bg-light'">TransactionDetails</a>
  <a href="/home/kycStatus" Class="list-group-item list-group-item-action bg-light'">Kyc Status</a>
  <a href="/home/referalTree" Class="list-group-item list-group-item-action bg-light'">Referral Tree</a>

  <a href=""  Class="list-group-item list-group-item-action bg-light disabled"> Balance : {{balance}}</a>



  <a href=""  Class="list-group-item list-group-item-action bg-light disabled">Ufission Store <br>(coming soon)</a>
</ng-template>
 <ng-template #data>
 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 slideimg" src="assets/subwall1.jpeg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 slideimg" src="assets/subwall2.jpeg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 slideimg" src="assets/subwall3.jpeg" alt="First slide" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="carousel-item active">
  <img class="d-block w-100 slideimg" src="assets/subwall1.jpeg" alt="First slide">
</div>
<div class="carousel-item">
  <img class="d-block w-100 slideimg" src="assets/subwall2.jpeg" alt="Second slide">
</div>
<div class="carousel-item">
  <img class="d-block w-100 slideimg" src="assets/subwall3.jpeg" alt="First slide" alt="Third slide">
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>

</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="carousel-item active">
<img class="d-block w-100 slideimg" src="assets/subwall1.jpeg" alt="First slide">
</div>
<div class="carousel-item">
<img class="d-block w-100 slideimg" src="assets/subwall2.jpeg" alt="Second slide">
</div>
<div class="carousel-item">
<img class="d-block w-100 slideimg" src="assets/subwall3.jpeg" alt="First slide" alt="Third slide">
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>

</div>

</ng-template>
<!-- <span class="input-group-btn subscribe"><button *ngIf="!adminRole" class="btn btn-danger btn-lg subbtn" name="subscribe" onclick="window.open('http://localhost:4200/home/subscribe','_blank',
  `toolbar=yes,
  location=0,
  status=no,
  menubar=no,
  scrollbars=no,
  resizable=yes,
  top=300,
  left=200,
  width=1500px,
  height=650px`);
  return false;">SUBSCRIBE</button></span> -->
  <button *ngIf="!adminRole && !isSubscribed" type="button" (click)="initPay()" class="btn btn-danger btn-lg subbtn">SUBSCRIBE</button>


  <!-- Menu Toggle Script -->

